@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}
